.con-8{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    height: max-content;
    padding: 4rem 2rem ;
    background: linear-gradient(180deg,white, rgb(235,235,235));
}
.con-8 h1{
    color: #2f3f50; 
    font-size: 3.25rem; 
    margin: 3rem auto;
}
.con-8 .cards{
    display: grid;
    gap: 2rem 3rem;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}
.con-8 .cards .card{
    padding: 2rem;
    display: grid;
    gap: 1rem;
    line-height: 2rem;
    box-shadow: -2px -2px 15px grey ;
    border-radius: 1rem;
    background-color: rgb(250,250,250);
}
.con-8 .cards .card .prImg{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}

